html,body {
    height: 100%;
}

body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    margin-left: 0px;
    padding-top: 0px;
    color: white;
    height: 25px;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 10px;


}

.page-title {
    text-align: center;
    margin-right: auto;
    margin-left: -10px;
    
}

#page-wrapper {
    display: flex;
    height: 95%;
    width: 100%;
    flex-wrap: wrap;
}

.booklist {
    margin: 0px;
    width: 100%;
}
.booklist p {
    text-align: center;
}

#booklist-wrapper {
    display: flex;
    height: 100%;
    min-width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    border: solid 1px red;
}

#book-info-wrapper {
    display: flex;
    height: 100%;
    flex-grow: 1;
    border: solid 1px orange;
    flex-wrap: wrap;
}

#title-container {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 14%;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#title-container > p {
    margin: 0px;
    font-size: 42px;

}

#book-info {
    margin: 0px;
    height: 86%;
}
#book-info >p {
    margin: 0;
}
