html,body {
    height: 100%;
}

body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    margin-left: 0px;
    padding-top: 0px;
    color: white;
    height: 25px;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 10px;


}

.page-title {
    text-align: center;
    margin-right: auto;
    margin-left: -10px;
    
}

#page-wrapper {
    display: flex;
    height: calc(100% - 27px);
    width: 100%;
    flex-wrap: wrap;
}


#sidebar-wrapper {
    display: flex;
    height: 100%;
    min-width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    border: solid 1px black;
    border-bottom: none;
    flex-direction: column;
}

#searchbar-wrapper {
    min-width: 100%;
}

#filter-wrapper {
    display: flex;
    flex-direction: column;
}

#booklist-filter {
    text-align-last: center;
    border-bottom: 1px solid black;
    margin: 10px;
    margin-top: 5px;
}


#filter-wrapper > label {
    text-align: center;
    margin-top: 5px;
}

#searchbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    display: flex;
}

#search-filter {
    font-weight: bold;
    border-right: none;
}

#searchbar-text-field-container {
    position: relative;
}

#searchbar-textfield-container > img {
    position: absolute;
    left: 73px;
    opacity: 40%;
    pointer-events: none;
}


.search-submit {
    margin-left: -40px;
}


#booklist {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}


#booklist > div {
    border-bottom: 1px solid black;
    padding: 5px;
}


.booklist-book {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 281px;
}

.booklist-book img {
    /* image is originally 180(w)x280(h) */
    display: block;
    height: 100px;
    width: 64px;
    margin: 5px;
    float: left;
    margin-right: 15px;
}

.booklist-book-info {
    display: flex;
    flex-wrap: wrap;
    flex: 40%;
    max-width: fit-content;
}

.booklist-book p {
    margin-top: 6px;
}

#book-info-wrapper {
    display: flex;
    /* flex-shrink: 0; */
    /* min-width: fit-content; */
    /* height: 100%; */
    flex-grow: 1;
    /* border: solid 1px orange; */
    flex-wrap: wrap;
    flex-basis: 500px;
    /* flex-shrink: 0; */
    min-width: 40%;
}

#title-container {
    display: flex;
    flex-direction: row;
    flex: 100%;
    height: 89px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    min-width: 40%;
    
}

#title-container > p {
    margin: 0px;
    text-align: center;
}

#book-info {
    margin: 0px;
    height: 86%;
    flex-shrink: 0;
}
#book-info >p {
    margin: 0;
}
