html,body {
    height: 100%;
}

body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    margin-left: 0px;
    padding-top: 0px;
    color: white;
    height: 25px;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 10px;


}

.page-title {
    text-align: center;
    margin-right: auto;
    margin-left: -10px;
    
}

#page-wrapper {
    display: flex;
    height: 95%;
    width: 100%;
    flex-wrap: wrap;
}

.booklist {
    margin: 0px;
    width: 100%;
}
.booklist p {
    text-align: center;
}

#sidebar-wrapper {
    display: flex;
    height: 100%;
    min-width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    border: solid 1px red;
    flex-direction: column;
}

#searchbar-wrapper {
    min-width: 100%;
}

#filter-wrapper {
    display: flex;
    flex-direction: column;
}

#booklist-filter {
    text-align-last: center;
    border-bottom: 1px solid black;
    margin: 10px;
    margin-top: 5px;
}


#filter-wrapper > label {
    text-align: center;
    margin-top: 5px;
}

#searchbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    display: flex;
}

#search-filter {
    font-weight: bold;
}

#searchbar-text-field-container {
    position: relative;
}

#searchbar-textfield-container > img {
    position: absolute;
    left: 73px;
    opacity: 40%;
    pointer-events: none;

}


#booklist {
    min-width: 100%;
}


#booklist > div {
    border-bottom: 1px solid black;
    padding: 5px;
}


#book-info-wrapper {
    display: flex;
    height: 100%;
    flex-grow: 1;
    border: solid 1px orange;
    flex-wrap: wrap;
}

#title-container {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 14%;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#title-container > p {
    margin: 0px;
    font-size: 42px;

}

#book-info {
    margin: 0px;
    height: 86%;
}
#book-info >p {
    margin: 0;
}
