html,body {
    height: 100%;
}

body {
    margin: 0px;
}

html {
    /* overflow-y: hidden; */
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    margin-left: 0px;
    padding-top: 0px;
    color: white;
    height: 25px;
    /* min-width: 100%; */
}

.menu {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 10px;


}

.page-title {
    text-align: center;
    margin-right: auto;
    margin-left: -10px;
    
}

#page-wrapper {
    display: flex;
    height: calc(100% - 27px);
    width: 100%;
    flex-wrap: wrap;
}


#sidebar-wrapper {
    display: flex;
    height: 100%;
    min-width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    border: solid 1px black;
    border-bottom: none;
    flex-direction: column;
}

#searchbar-wrapper {
    min-width: 100%;
}

#filter-wrapper {
    display: flex;
    flex-direction: column;
}

#booklist-filter {
    text-align-last: center;
    border-bottom: 1px solid black;
    margin: 10px;
    margin-top: 5px;
}


#filter-wrapper > label {
    text-align: center;
    margin-top: 5px;
}

#searchbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    display: flex;
}

#search-filter {
    font-weight: bold;
    border-right: none;
}

#searchbar-text-field-container {
    position: relative;
}

#searchbar-textfield-container > img {
    position: absolute;
    left: 73px;
    opacity: 40%;
    pointer-events: none;
}


.search-submit {
    margin-left: -40px;
}


#booklist {
    width: 250.25px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 115px);
    position: absolute;
    top: 115px;
    overflow: auto;
}


#booklist > div {
    border-bottom: 1px solid black;
    padding: 5px;
}


.booklist-book {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 281px;
}

/* .booklist-book ::selection {

} */

.booklist-book img {
    /* image is originally 180(w)x280(h) */
    display: block;
    height: 100px;
    width: 64px;
    margin: 5px;
    float: left;
    margin-right: 15px;
}

.booklist-book-info {
    display: flex;
    flex-wrap: wrap;
    flex: 40%;
    max-width: fit-content;
}

.booklist-book p {
    margin-top: 6px;
}

#add-book-button {
    min-height: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

#add-book-button img {
    padding-top: 20px;
}


#book-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: calc(750px - 251.25px);
    height: calc(100%-25px);
    
}




#title-container {
    display: flex;
    flex-direction: row;
    flex: 100%;
    height: 89px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    min-width: 40%;
    font-size: 32px;
    
}

#title-container > p {
    margin: 0px;
    text-align: center;
}

#book-info {
    margin: 0px;
    /* height: 86%; */
    height: calc(100% - 20px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
    padding-bottom: 20px;
}

#book-info-container {
    position: absolute;
    top: 116px;
    overflow: auto;
    height: calc(100% - 116px);
}
/* #book-info > p {
    margin: 0;
    text-align: center;
    min-width: 60%;
    height: fit-content;
} */

#book-details {
    height: fit-content;
    flex-wrap: wrap;
    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px; */
    margin: 20px;
}

#book-details > p {
    margin: 0px;
    text-align: center;
}

#book-details .authors {
    margin-bottom: 20px;
    font-size: 25px;
    font-style: italic;
}

#book-cover {
    width: 192.6px;
    height: 300px;
    margin-top: 0px;
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
}

#book-tags {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 15px;
}

#status-tags-form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
}
#reading-status-form {
    /* width: 50%; */
    display: inline-block;
}

.form-submit {
    margin-left: -6px;
}

.add-tags-input {
    width: 125px;
}

#booklist-status {
    width: 170px;
    text-align-last: center;
}


.tag {
    /* border: 1px solid gray; */
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(128, 128, 128, 0.199);
    border-radius: 10%

}

.remove-tag {
    color: rgb(117, 4, 4);
}


.selected {
    background-color: rgba(135, 207, 235, 0.486);
}

#add-book-window {
    position: absolute;
    top: 150px;
    left: 400px;
    width: 400px;
    height: 267px;
    background-color: white;
    border: 1px solid gray;
    
}

#isbn-search-wrapper {
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#remove-book-window {
    position: absolute;
    left: 7.5px;
    top: 7.5px;
}

#isbn-searchbar {
    width: 250px;
}


#isbn-search-results {
    display: flex;;
}

#isbn-search-results img {
    height: 150px;
    width: 96px;
    padding: 20px;
}

#new-book-info {
    margin-top: 7px;
}

#new-book-confirmation {
    display: inline-block;
    width: 100%;
    flex-direction: row;
    /* text-align: center; */
    margin-top: 10px;

}
#new-book-confirmation button {
    margin-left: 5px;
}



/* fixed position after shrinking screen */
@media (max-width: 750px) {
    #book-info-wrapper {
        position: absolute;
        left: 251.25px;
        top: 25px;
        width: calc(750px - 251.25px);
        height: calc(100% - 25px);
    }

    #book-info-container {
        top: 96px;
    }

    header {
        position: absolute;
        width: 750px;
        /* margin-bottom: 75px; */
    }

    #sidebar-wrapper {
        margin-top: 25px;
    }

    

    
}




